/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Light grey background */
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #0c2c47;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding:5px 10px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #faac77; /* */
}

/* Main Content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
}

.content-container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Title Styling */
h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Video Styling */
.video-wrapper {
    margin: 20px 0;
}

.hobby-video {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Paragraph Styling */
.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Back to Home Button */
.back-home {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.back-home:hover {
    background-color: #000;
    transform: translateY(-3px);
}
